footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:white;
    text-align: center;
    vertical-align: middle;
	line-height: 30px;
	border-top: 1px solid #cccccc;
}
